{% extends "frame.html" %}

{% block title %}
    Blog
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock css %}

{% block content %}
    <h1>Super receipe Blog</h1>
    {% for receipe in receipes %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{receipe.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{receipe.title}}</h6>
            <p class="card-text">{{receipe.description}}.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
